//- Navbar mixins by Kezz Bracey
//- https://github.com/tutsplus/baking-bootstrap-snippets-with-jade
//- Author:  http://tutsplus.com/authors/kezz-bracey
//- nav.navbar.navbar-expand-lg.navbar-light.bg-light


//- Upgrading to BS4 by ksaadDE (SAAD-IT, Karim S.) (some parts are completly rewritten, based on the work by rajasegar) 
//- note that the code may behave differently than in the docs.

//- Updated Bs4 Navbar - new thing is the first "name" param which is used as the navbar-brand link content
mixin navbar(name, id, style, href)
    - var style = (typeof style === 'undefined') ? "default" : style
    - var href = (typeof href === 'undefined') ? "#" : href
    nav.navbar.navbar-expand-lg.navbar-dark( class=["navbar", "navbar-" + style] ) 
        a.navbar-brand(href=href)= name
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse
           ul.navbar-nav
                block


//- nav_item (new thing is the label as second param)
mixin nav_item(href, label, style, active)
    - var ddstyle = style || ''
    - if(!!active && ddstyle.indexOf("active") == -1) ddstyle += (ddstyle.length == 0 ? "active" : " active")

    li.nav-item(class=ddstyle)
      a.nav-link(href=href)= label

//- nav_dropdown (new thing is the label as second param) it's a regular Dropdown!
mixin nav_dropdown(href, label)
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle(data-toggle='dropdown', href=href, role='button', aria-haspopup='true', aria-expanded='false')= label
      .dropdown-menu
        block

//- nav_dropdown_item (new thing is the label as second param) - just imagine what it is!
mixin nav_dropdown_item(href, label, style, active)
    - var ddstyle = style || ''
    - if(!!active && ddstyle.indexOf("active") == -1) ddstyle += (ddstyle.length == 0 ? "active" : " active")
    a.dropdown-item(href=href, style=ddstyle)= label

//- Rewritten nav_divider Bs4
mixin nav_divider
    div.dropdown-divider

mixin nav_header
    .dropdown-header
        block
//- End navbar mixins
